@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Edit Movie";
}

@model Movie

<h1>@ViewBag.Title</h1>

<br />
<form asp-action="EditMovie" method="POST">
    <div>
        <input asp-for="MovieId" value="@Model.MovieId" hidden />
    </div>
    <div>
        <label asp-for="Category">Category:</label>
        <input asp-for="Category" placeholder="@Model.Category"/>
        @*Displaying validation error when not entered correctly*@
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" placeholder="@Model.Title"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" placeholder="@Model.Year"/>
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" placeholder="@Model.Director"/>
        <span asp-validation-for="Director" class="text-danger"></span>
    </div>

    @*Dropdown menu for Rating field and Edited field*@

    <div>
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating">
            <option value="">Select One</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.Edited, "", new { @class = "text-danger" })
        <label asp-for="Edited">Is the film edited?</label>
        <select asp-for="Edited">
            <option value="">Select One</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <div>
        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" placeholder="@Model.LentTo"/>
    </div>
    <div>
        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" placeholder="@Model.Notes"/>
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <button class="btn-success rounded" type="submit">Save</button>
</form>
